.ButtomBar {
    font-size: medium;
    text-align: left;
    text-transform: uppercase;
    color: black;
    margin: 1px;
    @media only screen and (min-width: 900px) {
        color: white;
        margin-top: 5px;
    }
    
}