.cart-container-icon{
    display: flex;
    align-items: center;
    p{
        margin: 0px 1px 0px 5px;
        text-align: center;
        font-size: small;
        background-color: blue;
        border-radius: 150px 150px;
        height: 20px;
        width: 20px;

    }
}
.container-item-list-cart{
    display: flex;
    flex-direction: column;
    .item-cart-prod{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .cart-prod__image{
            width: 100%;
            img{
                width: 80px;
            }
        }
        .cart-prod__info{
        }
        .cart-prod__action{
        }
    }
}


