.card_item{
  a{
    color: black;
  }
   .surfboards_galerry{
      display: flex;
      flex-direction: column;
      text-align: center;
     .sufrboards_img {
         width: 100%;
     } 
     .buy_buttom{
       margin-top: 5px;
       width: 100%;
     }
   }
} 


